{% extends 'padre.html' %}

{% block titulo %}
  Registro
{% endblock %}

{% block cambia %}
  <h3 class="masthead-subheading mb-0 pb-1">La dificultad no reside en las nuevas ideas, si no en escapar de las viejas.</h3>
  <div class="container-fluid w-50 pt-1 bg-dark rounded" style="--bs-bg-opacity: .8;">
    <h3 class="text-center">Registro</h3>
    <form class="d-flex justify-content-center m-2" action="" method="POST">
      {% csrf_token %}
      <div class="container">
        <div class="row">
          <table class="table text-light text-start d-flex justify-content-center">
            {{ form.as_table }}
          </table>
          <div class="container text-center w-100 d-flex justify-content-center m-auto py-3">
            <input class="btn btn-dark mx-2" type="submit" value="Crear usuario">
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}