{% extends 'padre.html' %}

{% block titulo %}
  Registro
{% endblock %}

{% block cambia %}
  <div class="container w-25 pt-1">
    <h3 class="text-center">Registro</h3>
    <form action="" method="POST">
      {% csrf_token %}
      <table class="table">
        {{ form.as_table }}
      </table>
      <div class="container text-center w-100 d-flex justify-content-center m-auto py-3">
        <input class="btn btn-dark mx-2" type="submit" value="Crear usuario">
      </div>
    </form>
  </div>
{% endblock %}