{% extends 'padre.html' %}

{% block titulo %}
  Estudiantes
{% endblock %}

{% block cambia %}
  <h3>Nuestros estudiantes: </h3>
  {% for estudiante in estudiantes %}
    <a href="{% url 'ver_estudiante' estudiante.id %}">{{ estudiante }}</a>
    <a href="{% url 'borrar_estudiantes' estudiante.id %}">Borrar</a>
    <a href="{% url 'actualizar_estudiantes' estudiante.id %}">Editar</a>
    <br>
  {% endfor %}
  <a class="btn btn-primary" href="{% url 'formulario_estudiantes' %}">Agregar estudiante</a>
{% endblock %}