{% extends 'padre.html' %}

{% block titulo %}
  Ver - Estudiante
{% endblock %}

{% block cambia %}
  <h3 class="masthead-subheading mb-0 pb-4">Aprender rompe paradigmas, hacer cambia el mundo.</h3>
  <div class="container w-50 pt-2 bg-dark rounded" style="--bs-bg-opacity: .8;">
    <h3 class="text-center">Ver estudiante</h3>
    <div class="container d-flex justify-content-center ps-5">
      <ul class="list-unstyled">
        <li class="text-start">Nombre: <b class="text-danger">{{estudiante.nombre}}</b></li>
        <li class="text-start">Apellido: <b class="text-danger">{{estudiante.apellido}}</b></li>
        <li class="text-start">Email: <b class="text-danger">{{estudiante.email}}</b></li>
        <li class="text-start">Carrera: <b class="text-danger">{{estudiante.carrera}}</b></li>
        <li class="text-start">Edad: <b class="text-danger">{{estudiante.edad}}</b></li>
        <li class="text-start">DNI: <b class="text-danger">{{estudiante.dni}}</b></li>
        <li class="text-start">Legajo: <b class="text-danger">{{estudiante.legajo}}</b></li>
      </ul>
    </div>
    <div class="container d-flex justify-content-center align-items-center pb-2">
      <a class="d-block btn btn-dark m-2 w-50" href="{% url 'estudiantes' %}">Volver</a>
    </div>
  </div>
{% endblock %}