{% extends 'padre.html' %}

{% block titulo %}
  Ver - Estudiante
{% endblock %}

{% block cambia %}
  <div class="container w-25 pt-1">
    <h3 class="text-center">Ver estudiante</h3>
    <ul class="list-unstyled">
      <li><b>Nombre:</b> {{estudiante.nombre}}</li>
      <li><b>Apellido:</b> {{estudiante.apellido}}</li>
      <li><b>Email:</b> {{estudiante.email}}</li>
      <li><b>Carrera:</b> {{estudiante.carrera}}</li>
      <li><b>Edad:</b> {{estudiante.edad}}</li>
      <li><b>DNI:</b> {{estudiante.dni}}</li>
      <li><b>Legajo:</b> {{estudiante.legajo}}</li>
    </ul>
    <a class="d-block btn btn-dark mb-3" href="{% url 'estudiantes' %}">Volver</a>
  </div>
{% endblock %}