{% extends 'padre.html' %}

{% block titulo %}
  Borrar - Carrera
{% endblock %}

{% block cambia %}
  <form action="" method="POST">
    {% csrf_token %}
    <div class="container w-25 pt-1">
      <h3 class="text-center">Borrar carrera</h3>
      <div class="container d-flex justify-content-center">
        <ul class="list-unstyled">
          <li><b>Carrera:</b> {{carrera.carrera}}</li>
          <li><b>Duracion:</b> {{carrera.duracion}} años</li>
          <li><b>Facultad:</b> {{carrera.facultad}}</li>
          <li><b>Materias:</b> {{carrera.cantidad_materias}}</li>
        </ul>
      </div>
      <div class="container d-flex justify-content-center align-items-center pb-3">
        <input class="" type="submit" value="Borrar">
        <a class="btn btn-primary mx-2" href="{% url 'carreras' %}">Volver</a>
      </div>
    </div>
  </form>
{% endblock %}