{% extends 'padre.html' %}

{% block titulo %}
  Editar - Carrera
{% endblock %}

{% block cambia %}
  <h3 class="masthead-subheading mb-0 py-4">Una comunidad de estudiantes hecha por y para estudiantes</h3>
  <div class="container-fluid w-50 pt-1 bg-dark rounded" style="--bs-bg-opacity: .8;">
    <h3 class="text-center">Editar carrera</h3>
    <form class="d-flex justify-content-center m-2" action="" method="POST">
      {% csrf_token %}
      <div class="container">
        <div class="row">
          <table class="table text-light text-start d-flex justify-content-center">
            {{ form.as_table }}
          </table>
          <div class="d-flex container text-center w-100 m-auto pb-3">
            <input class="btn btn-dark mx-2 w-50" type="submit" value="Enviar">
            <a class="btn btn-primary mx-2 w-50" href="{% url 'carreras' %}">Volver</a>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}